<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Eso Auction Parser{% endblock %}</title>
    {% stylesheets '@bootstrap_css' '@jquery_css'%}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    {% javascripts '@chartjs'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="container">
{% include 'EsoAuctionBundle:Default:menu.html.twig' %}
{% block body %}{% endblock %}
</div>
{% javascripts '@jquery' '@bootstrap_js'%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javascripts %}{% endblock %}

</body>
</html>