{% extends 'EsoAuctionBundle:Default:base.html.twig' %}
{% block body %}
    {#<div class="row">#}
        {#<div class="col-lg-12">#}
    {% include 'EsoAuctionBundle:Default:itemList.html.twig' %}
        {#</div>#}
    {#</div>#}
{% endblock %}