{% if items is defined and items|length > 0 %}
    <table class="table table-hover">
        <tr clas="titles">
            <th>
                {{ 'item name'|trans }}
            </th>
            <th>
                {{ 'item level'|trans }}
            </th>
            <th>
                {{ 'item quality'|trans }}
            </th>
            <th>
                {{ 'item type'|trans }}
            </th>
            <th title="slot">
                {{ 'item slot'|trans }}
            </th>
            <th title="trait">
                {{ 'item trait'|trans }}
            </th>
            <th>
                {{ 'item set'|trans }}
            </th>
        </tr>
    {% for item in items %}
        <tr>
            <td title="{{ item.getId() }}">
                <a href="/item/{{ item.getId() }}">{{ item.getItemName()|capitalize }}</a>
            </td>
            <td>
                {{ item.getLevel() }}
            </td>
            <td {% if item.getQuality() != 'white' -%}style="color: {{ item.getQuality() }};"{%- endif -%} title="{{ item.getQuality() }}">
                {{ "quality #{item.getQuality()}"|trans }}
            </td>
            <td title="{{ item.getItemType() }}">
                {{ "type #{item.getItemType()}"|trans }}
            </td>
            {% if item.getItemSlot() != '' %}
                <td title="{{ item.getItemSlot() }}">
                    {{ "slot #{item.getItemSlot()}"|trans }}
                </td>
            {% else %}
                <td>
                </td>
            {% endif %}
            <td>
                {{ item.getItemTrait()|default('')|capitalize }}
            </td>
            <td>
                {{ item.getItemSet()|default('')|capitalize }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}