{% if item is defined %}
    <table class="table table-hover">
        <tr title="{{ item.getId() }} {{ item.getQuality() }}">
            <th>
                {{ 'item name'|trans }}
            </th>
            <td {% if item.getQuality() != 'white' -%}style="color: {{ item.getQuality() }};"{%- endif -%}>
                {{ item.getItemName()|capitalize }}
            </td>
        </tr>
        <tr>
            <th>
                {{ 'item level'|trans }}
            </th>
            <td>
                {{ item.getLevel() }}
            </td>
        </tr>
        <tr>
            <th>
                {{ 'item type'|trans }}
            </th>
            <td title="{{ item.getItemType() }}">
                {{ "type #{item.getItemType()}"|trans|capitalize }}
            </td>
        </tr>
        {% if item.getItemSlot() != '' %}
        <tr>
            <th>
                {{ 'item slot'|trans }}
            </th>
            <td title="{{ item.getItemSlot() }}">
                {{ "slot #{item.getItemSlot()}"|trans|capitalize }}
            </td>
        </tr>
        {% endif %}
        {% if item.getItemTrait() != '' %}
        <tr>
            <th>
                {{ 'item trait'|trans }}
            </th>
            <td>
                {{ item.getItemTrait()|capitalize }}
            </td>
        </tr>
        {% endif %}
        {% if item.getItemSet() != '' %}
        <tr>
            <th>
                {{ 'item set'|trans }}
            </th>
            <td>
                {{ item.getItemSet()|title }}
            </td>
        </tr>
        {% endif %}
    </table>
{% endif %}