{% if itemStats is defined %}
    <canvas id="{{ name|default('itemStats') }}" width="400" height="100"></canvas>
    <script>
        var ctx = document.getElementById("{{ name|default('itemStats') }}");
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ itemStats.keys|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
                datasets: [{
                    label: '{{ name|default('itemStats')|trans }}',
                    data: {{ itemStats.values|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
                    borderColor: '#33AAFF',
                    borderWidth: 1,
                }]
            },
            options: {
                spanGaps: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            userCallback: function(label, index, labels) {
                                // when the floored value is the same as the value we have a whole number
                                if (Math.floor(label) === label && label >= 0) {
                                    return label;
                                }

                            },
                        },

                    }],
                    xAxes: [{
                        ticks: {
                            minRotation: 45,
                            maxRotation: 90,
                        }
                    }],
                },
            },
        });
    </script>


{% endif %}