{% extends 'EsoAuctionBundle:Default:base.html.twig' %}
{% block body %}
    <div class="row">
    <div class="col-lg-12">
    {% include 'EsoAuctionBundle:Default:itemInfo.html.twig' %}
    {% include 'EsoAuctionBundle:Default:itemStats.html.twig' with {'itemStats': salePrice, 'name' : 'salePrice' }%}
    {% include 'EsoAuctionBundle:Default:itemStats.html.twig' with {'itemStats': saleQuantity, 'name' : 'saleQuantity' }%}
    {% include 'EsoAuctionBundle:Default:itemStats.html.twig' with {'itemStats': saleCount, 'name' : 'saleCount'}%}
    {% include 'EsoAuctionBundle:Default:itemSimilarList.html.twig' with {'items': similarItems}%}
    </div>
    </div>
{% endblock %}