{% if itemList is defined %}
    <table class="table table-hover">
        <tr clas="titles">
            <th>
                #
            </th>
            <th>
                {{ 'item name'|trans }}
            </th>
            <th>
                <a href="/1/saleQuantity">{{ 'item count'|trans }}{% if sortby == 'saleQuantity' %}<span class="glyphicon glyphicon-triangle-bottom"></span>{% endif %}</a>
            </th>
            <th>
                <a href="/1/saleQuantityAverage">{{ 'item count average'|trans }}{% if sortby == 'saleQuantityAverage' %}<span class="glyphicon glyphicon-triangle-bottom"></span>{% endif %}</a>
            </th>
            <th>
                <a href="/1/saleAvgPrice">{{ 'average price'|trans }}{% if sortby == 'saleAvgPrice' %}<span class="glyphicon glyphicon-triangle-bottom"></span>{% endif %}</a>
            </th>
            <th>
                <a href="/1/saleMaxPrice">{{ 'max price'|trans }}{% if sortby == 'saleMaxPrice' %}<span class="glyphicon glyphicon-triangle-bottom"></span>{% endif %}</a>
            </th>
            <th>
                {{ 'item level'|trans }}
            </th>
            <th>
                {{ 'item quality'|trans }}
            </th>
            <th>
                {{ 'item type'|trans }}
            </th>
            <th title="slot">
                {{ 'item slot'|trans }}
            </th>
            <th title="trait">
                {{ 'item trait'|trans }}
            </th>
        </tr>
        {% set count = 0 %}
    {% for item in itemList %}
        {% set count = count + 1 %}
        <tr>
            <td>
                {{ count }}
            </td>
            <td title="{{ item.item.getId() }}">
                <a href="/item/{{ item.item.getId() }}">{{ item.item.getItemName()|capitalize }}</a>
            </td>
            <td>
                {{ item.saleQuantity }}
            </td>
            <td>
                {{ item.saleQuantityAverage|round(2, 'floor')|default(0) }}
            </td>
            <td>
                {{ item.saleAvgPrice|round(2, 'floor') }}
            </td>
            <td>
                {{ item.saleMaxPrice|round(2, 'floor') }}
            </td>
            <td>
                {{ item.item.getLevel() }}
            </td>
            <td style="color: {% if item.item.getQuality() == 'white' -%} gray {%- else -%}{{ item.item.getQuality() }}{%- endif -%};" title="{{ item.item.getQuality() }}">
                {{ "quality #{item.item.getQuality()}"|trans }}
            </td>
            <td title="{{ item.item.getItemType() }}">
                {{ "type #{item.item.getItemType()}"|trans }}
            </td>
            {% if item.item.getItemSlot() != '' %}
                <td title="{{ item.item.getItemSlot() }}">
                    {{ "slot #{item.item.getItemSlot()}"|trans }}
                </td>
            {% else %}
                <td>
                </td>
            {% endif %}
            <td>
                {{ item.item.getItemTrait()|default('')|capitalize }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}