{% set route = app.request.attributes.get('_route') %}
<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu_navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="menu_navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if route == 'eso_auction_homepage' %} class="active"{% endif %}>
                    <a href="/" title="{{ 'menu list'|trans }}" class="glyphicon glyphicon-list-alt"></a>
                </li>
                <li {% if route == 'eso_auction_search' %} class="active"{% endif %}>
                    <a href="/search/" class="glyphicon glyphicon-search" title="{{ 'menu search'|trans }}"></a>
                </li>
                <li {% if route == 'eso_auction_read' %} class="active"{% endif %}>
                    <a href="/read/" title="{{ 'menu read'|trans }}" class="glyphicon glyphicon-refresh"></a>
                </li>
                {% if page is defined %}
                    {% if page > 1 %}
                        <li>
                            <a href="/{{ (page - 1)|default(0) }}/{{ sortby }}" class="glyphicon glyphicon-triangle-left" title="{{ 'previous page'|trans }}"></a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="/{{ (page + 1)|default(0) }}/{{ sortby }}" class="glyphicon glyphicon-triangle-right" title="{{ 'next page'|trans }}"></a>
                    </li>

                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>