{% extends 'EsoAuctionBundle:Default:base.html.twig' %}
{% block body %}
<p>Found {{ files|length|default(0) }} files</p>
<p>Found {{ item_count|default(0) }} items</p>
<p>Found {{ item_new_count|default(0) }} new items</p>
<p>Found {{ sale_count|default(0) }} sales</p>
<p>Found {{ sale_new_count|default(0) }} new sales</p>
Files:
<ul>
{% for file in files %}
    <li>{{ file }}</li>
{% endfor %}
</ul>
{% endblock %}