{% extends 'EsoAuctionBundle:Default:base.html.twig' %}
{% form_theme form 'EsoAuctionBundle:Default:formLayout.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-6">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
        {% include 'EsoAuctionBundle:Default:itemSimilarList.html.twig'%}
    </div>
</div>
{% endblock %}